body {
  background: white !important; 
}

.page-header {
  position: relative;
  background: url("/assets/Background.jpg") no-repeat center center !important;
  background-size: cover !important;
  background-color: white !important; /* fallback */
  background-image: none !important;  /* <-- kill Cayman gradient */
}

.page-header .project-tagline {
  color: white !important;
  opacity: 1 !important;   /* remove translucency */
}

.page-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}
.page-header * {
  position: relative;
  z-index: 1;
}

.page-header a.btn:hover {
  background-color: black !important;
  color: white !important; 
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: black !important;
}
